body {
  justify-content: center;
  /* background-image: url('https://images.unsplash.com/photo-1540853986208-a3e8f4ab197a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1515164132472-9c1ff52ee81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-image: url('https://images.unsplash.com/photo-1549800076-831d7a97afac?ixlib=rb-1.2.1&auto=format&fit=crop&w=3033&q=80');
  background-size: 50%;
  /* background-position: left; */
}

.wrapper {
  min-width: 400px;
  max-width: 800px;
  max-height: 750px;
  padding: 1rem;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px white;
}

.game-title {
  align-items: center;
  display: flex;
  height: 100px;
}

.game-title > div {
  width: 50%;
  align-items: center;

}
#main-burger-image {
  height: 80px;
  width: auto;
  margin: 0.5rem;
}

#middle {
  height: 310px;
}

#score-and-clock {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 37%;
}

#clock {
  height: 30%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#score {
  background-image: url('https://openclipart.org/download/9079/Gerald-G-Fast-Food-Lunch-Dinner-FF-Menu-6.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  height: 70%;

}

#score > h1 {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 80px;

}

#order-ticketing {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 58%;
  background-color: gray;
}

.content-wrapper {
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
  border: 2px solid green;
}

#order-tickets {
  /* display: flex; */
  /* flex-direction: row-reverse; */
  border: 1px solid red;
  height: 100%;
  /* width: 100%; */
  width: 840px;
  position: relative;
  float: left;
  /* right: 360px; */
  margin-top: auto;
  margin-bottom: auto;
}

.order-ticket {
  position: absolute;
  box-shadow: 0px 0px 8px #aaaaaa;
  border-radius: 5px;
  height: 300px;
  width: 170px;
  margin: 5px;
  /* justify-content: flex-end; */
  background-image: url('https://farm3.staticflickr.com/2189/1809766325_f7e23e7b8f_b.jpg');
  background-size: 100% 100%;
  filter: opacity(30%);
  transition: left .1s;
}

.order-ticket > h3 {
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 26px;
  top: 30%;
}

.order-ticket > .recipe-items {
  list-style-type: none;
  columns: 2;
  padding: 0;
  left: 17px;
  font-weight: bold;
  position: absolute;
  top: 54%;
}

.order-ticket#active-ticket {
  filter: opacity(100%);
}

#ingredients-container {
  display: flex;
  padding: 1rem;
  margin: auto;
  height: 300px;
  max-width: 700px;

}

.ingredient-image-container {
  box-shadow: 0px 0px 8px #aaaaaa;
  height: 80px;
  width: 80px;
  margin: 5px;
  padding: 2px;
  background-color: white;
}

.ingredient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
