body {
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1515164132472-9c1ff52ee81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-image: url('https://images.unsplash.com/photo-1549800076-831d7a97afac?ixlib=rb-1.2.1&auto=format&fit=crop&w=3033&q=80');
  background-size: 50%;
}

.wrapper {
  min-width: 400px;
  max-width: 800px;
  max-height: 750px;
  padding: 1rem;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(220, 220, 220, 0.75);
  box-shadow: 0 0 5px lightgray;
}

.game-title {
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(60px + (90 - 60) * ((100vw - 360px) / (1028 - 360)));
  width: 100%;
  text-shadow: 0px 0px 8px gray;
}

.game-title > h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(30px + (60 - 30) * ((100vw - 360px) / (1028 - 360)));
  color: #c10000;

}

#start-button {
  display: inline-block;
  background-color: #c10000;
  border: none;
  box-shadow: 0px 0px 8px #aaaaaa;
  padding: 14px 14px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#middle {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 320px;
  width: 100%;
}

#score-and-clock {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 42%;
  color: #c10000;
  text-shadow: 0px 0px 8px gray;
}

#clock {
  height: 30%;
  text-align: center;
  align-content: center;
  font-size: calc(45px + (60 - 45) * ((100vw - 360px) / (1028 - 360)));
  font-weight: bold;
}

#score {
  background-image: url('https://openclipart.org/download/9079/Gerald-G-Fast-Food-Lunch-Dinner-FF-Menu-6.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  height: 70%;
}

#score > h1 {
  position: relative;
  top: calc(50px + (10 - 50) * ((100vw - 360px) / (1028 - 360)));
  text-align: center;
  font-size: calc(55px + (80 - 55) * ((100vw - 360px) / (1028 - 360)));
}

#order-ticketing {
  display: inline-block;
  float: right;
  vertical-align: top;
  height: 100%;
  width: 58%;
  box-shadow: 0px 0px 8px #aaaaaa;
  background-color: white;
}

.content-wrapper {
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
}

#order-tickets {
  height: 100%;
  width: 840px;
  position: relative;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}

.order-ticket {
  position: absolute;
  box-shadow: 0px 0px 8px #aaaaaa;
  border-radius: 5px;
  height: 300px;
  width: 170px;
  margin: 5px;
  background-image: url('https://farm3.staticflickr.com/2189/1809766325_f7e23e7b8f_b.jpg');
  background-size: 100% 100%;
  filter: opacity(30%);
  transition: left .1s;
}

.order-ticket > h3 {
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 26px;
  top: 30%;
}

.order-ticket > .recipe-items {
  width: 100%;
  list-style-type: none;
  columns: 2;
  column-fill: auto;
  float: right;
  /* column-width: 50px; */
  padding: 0;
  left: 10px;
  font-weight: bold;
  position: absolute;
  top: 44%;
}

.order-ticket#active-ticket {
  filter: opacity(100%);
}

#ingredients-container {
  display: flex;
  padding: 10px;
  margin: auto;
  height: 300px;
  /* max-width: 712px; */
  width: 100%;
}

.ingredient-image-container {
  box-shadow: 0px 0px 8px #aaaaaa;
  height: 80px;
  width: 80px;
  margin: 5px;
  padding: 2px;
  background-color: white
}

.ingredient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
