body {
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1515164132472-9c1ff52ee81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: 100%;
}

.wrapper {
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px white;
}

.game-title {
  align-items: center;
  display: flex;
  height: 100px;
}

.game-title > div {
  width: 50%;
  align-items: center;

}
#main-burger-image {
  height: 80px;
  width: auto;
  margin: 0.5rem;
}

#order-tickets-container {
  display: flex;
  height: 350px;
  width: 400px;
}

.content-wrapper {
  display: flex;
  min-width: 200px;
  height: 250px;
  /* border: 1px solid black; */
  overflow: hidden;
  justify-content: flex-start;
}

#order-tickets {
  display: flex;
  margin-left: 37%;
  /* border: 1px solid black; */
  width: 600px;
}

.order-ticket {
  position: relative;
  box-shadow: 0px 0px 8px #aaaaaa;
  border-radius: 5px;
  height: 250px;
  width: 140px;
  margin: 5px;
  justify-content: flex-end;
  background-image: url('https://farm3.staticflickr.com/2189/1809766325_f7e23e7b8f_b.jpg');
  background-size: 100% 100%;
  filter: opacity(60%);
}

.order-ticket > h3 {
  text-align: center;
  position: relative;
  top: 30%;
}

.order-ticket > .recipe-items {
  list-style-type: none;
  columns: 2;
  font-weight: bold;
  position: absolute;
  top: 50%;
}

.order-ticket#active-ticket {
  filter: opacity(100%);
}

#ingredients-container {
  display: flex;
  padding: 1rem;
  margin: auto;
  max-width: 700px;
}

.ingredient-image-container {
  box-shadow: 0px 0px 8px #aaaaaa;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: white;
}
